<!-- Begin .header -->
<div class="transHead">
	<a href="http://portfolio.samueldowd.com">
		{{> atoms-logo }}
	</a>
	<a href="http://portfolio.samueldowd.com">
	{{> atoms-heading-name }}
	</a>
	{{> molecules-nav }}
</div>	
<!-- End .header -->