<div class="mobileNav">
	<div id="navLinks">
		<ul id="nav">
			<li>
				<a href="http://portfolio.samueldowd.com#featured" class="nav"><b>Featured</b></a>
			</li>
			<li>
				<a href="http://portfolio.samueldowd.com##schools" class="nav"><b>Schools</b></a>
			</li>
			<li>
				<a href="http://portfolio.samueldowd.com##blogs" class="nav"><b>Blogs</b></a>
			</li>
		</ul>	
	</div>
</div>